// use for all pages
.header {
    height: 85vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url("../img/headerBackground1.jpg");
    background-size: cover;
    background-position: top;
    position: relative;

    // Not supporting in the firefox
    @supports(clip-path:  polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){

    /* making shapes: https://bennettfeely.com/clippy/ for more shapes */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    height: 95vh;
    }

    

    // Responsive Image:  dpi(dot per inch); 192dpi(2x screen); Multiple conditon in media qurey: (And) and (, == or)
    @media only screen and (min-resolution:192dpi) and (min-width:37.5em),
    // for Safari
    only screen and (-webkit-min-device-pixel-ration: 2) and (min-width:37.5em), 
    only screen and (min-width:125em) {
        background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url("../img/headerBackground1.jpg");
    }

    // @media (min-width:2000px) {
    //     background-image: linear-gradient(to right bottom,
    //     rgba($color-secondary-light, 0.8),
    //     rgba($color-secondary-dark, 0.8)),
    //     url("../img/headerBackground1.jpg");
    // }

    @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 4rem;
    }


    &__logo {
        height: 6rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}